<div class="word">
    <p>Kết quả tìm kiếm cho :</p>
<div class="content row">

    <div class="col-12 col-sm-6 col-md-6 content-left">
        <div class="box-shadow">

            <nav class="navbar navbar-expand-lg navbar-light bg-light " id="singerpick">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">BÀI HÁT</a>
                </div>
            </nav>
            <div class="playlist result-song">
                {{#each musics}}
                <div class="playlist-item menu">
                    <h3>
                        <a href="#" title="Tên Bài Hát">{{this.name}}</a>
                    </h3>
                    <div class="playlist-singer">
                        <h4 class="inline">
                            <a href="" title="Tên Ca Sĩ">{{this.singer}}</a>
                        </h4>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
    <div class="col-12 col-sm-6 col-md-6 content-right">
        <div class="singer result-singer">
            <nav class="navbar navbar-expand-lg navbar-light bg-light nav-result-singer" id="singerpick">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">CA SĨ</a>
                </div>
            </nav>
            {{#each singers}}
            <div class="result-singer-list">
                <div class="row d-inline-flex">
                    <div class="col-6 col-sm-4 col-md-3 p-2 singer_card">
                        <a class="card h-100" href="/singers/{{this.slug}}">
                            <img class="card-img-top" src="/{{this.image}}" />
                            <h4 class="card-title text-center">{{this.name}}</h4>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>


    </div>
</div>

<div class="boxplayer" id="aplayer"></div>